
body {

    margin-top: 20px;
    background: black;
    color: white;

}

article > * {

    padding-bottom: 40px;

}


header,
footer,
header > h1,
footer > p {
    /*center*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: Center;
}

#social div {
    text-align: center;
}

#social a {
    height: 100px;
    width: 100px;
    padding-top: 15px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

    #social a:hover {
        text-decoration: none;
        color: white;
        background: #428bca;
    }

#social span {
    margin-top: 17px;
    display: block;
}

.carousel-caption {
    opacity: 0.6;
    filter: alpha(opacity=0.6);
    background-color: black;
    color: white;
}

h1 {
    font-size: 60px;
}
