
article {
    margin-top: 50px;
}

    article > * {
        /*All children of article have the same bottom margin. */
        margin-bottom: 50px;
    }

header,
footer,
header > h1,
footer > p {
    /*center*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: Center;
}

header {
    border-bottom: 2px solid black;
    padding-bottom: 50px;
    width: 80%;
}

    header > h1 {
        border-top: 2px solid black;
        margin-top: 0;
        padding-top: 50px;
        width: 80%;
    }

footer {
    border-top: 2px solid black;
    padding-top: 50px;
    width: 80%;
}

    footer > p {
        border-bottom: 2px solid black;
        padding-bottom: 50px;
        width: 80%;
    }

#our-external-links {
    margin: auto;
    display: table;
}

    #our-external-links > a {
        margin-left: 10px;
        margin-right: 10px;
        display: block;
        float: left;
        height: 100px;
        width: 100px;
        text-align: center;
    }

        #our-external-links > a:hover {
            text-decoration: none;
        }

        #our-external-links > a:first-child {
            margin-left: 0;
        }

        #our-external-links > a:last-child {
            margin-right: 0;
        }

        #our-external-links > a > * {
            display: block;
            line-height: 85px;
        }

#our-jumbotron {
    background-color: #F20745;
    margin-bottom: 0;
}

.carousel-caption {
    opacity: 0.6;
    filter: alpha(opacity=0.6);
    background-color: black;
    color: white;
}

h1 {
    font-size: 60px;
}
