
article {
    margin-top: 50px;
}

    article > * {
        /*All children of article have the same bottom margin. */
        margin-bottom: 50px;
    }

header,
footer,
header > h1,
footer > p {
    /*center*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: Center;
}

header {
    border-bottom: 2px solid black;
    padding-bottom: 50px;
    width: 80%;
}

    header > h1 {
        border-top: 2px solid black;
        margin-top: 0;
        padding-top: 50px;
        width: 80%;
    }

footer {
    border-top: 2px solid black;
    padding-top: 50px;
    width: 80%;
}

    footer > p {
        border-bottom: 2px solid black;
        padding-bottom: 50px;
        width: 80%;
    }

#our-external-links {
    margin: auto;
    display: table;
}

    #our-external-links > a {
        margin-left: 10px;
        margin-right: 10px;        
        display: block;
        float: left;
        height: 100px;
        width: 100px;
        text-align: center;
    }

        #our-external-links > a:hover {
            
            text-decoration:none;
        
        }

        #our-external-links > a:first-child {
            margin-left: 0;
        }

        #our-external-links > a:last-child {
            margin-right: 0;
        }

        #our-external-links > a > * {
            display: block;
            line-height: 85px;
        }

#our-jumbotron {
    background-color: #F20745;
    margin-bottom: 0;
}

#our-carousel {
}

    #our-carousel > .carousel {
    }

        #our-carousel > .carousel .carousel-caption {
            opacity: 0.6;
            filter: alpha(opacity=0.6);
            background-color: black;
            color: white;
        }

a:hover {
    background: -moz-linear-gradient(top, rgba(252,29,0,0.1) 0%, rgba(252,252,0,0.22) 28%, rgba(0,249,24,0.22) 66%, rgba(4,0,249,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,29,0,0.1)), color-stop(28%,rgba(252,252,0,0.22)), color-stop(66%,rgba(0,249,24,0.22)), color-stop(100%,rgba(4,0,249,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(252,29,0,0.1) 0%,rgba(252,252,0,0.22) 28%,rgba(0,249,24,0.22) 66%,rgba(4,0,249,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(252,29,0,0.1) 0%,rgba(252,252,0,0.22) 28%,rgba(0,249,24,0.22) 66%,rgba(4,0,249,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(252,29,0,0.1) 0%,rgba(252,252,0,0.22) 28%,rgba(0,249,24,0.22) 66%,rgba(4,0,249,0.2) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(252,29,0,0.1) 0%,rgba(252,252,0,0.22) 28%,rgba(0,249,24,0.22) 66%,rgba(4,0,249,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1afc1d00', endColorstr='#330400f9',GradientType=0 ); /* IE6-9 */
}




h1 {
    font-size: 60px;
}
