<div class="container">

    <p>
        In 2003 Ashton found 21 year old Rama performing solo at an eclectic independent coffee house in Tampa Florida and invited Rama to come to see her next show. The rest is history.
    </p>


    <p>
        Sweet Water Revolver was formed in 2005 by band members Ashton and Rama Cheromaya. Later graced by the robust cello improvisation of Rama’s sister Quetzal Jordan who joined the band in 2008.
    </p>
    <p>Ashton slings all her powerful sweetness into her leather and lace lead vocals, as she bangs out a labyrinth of rhythmic guitar licks; Rama grounds the sound through deeply rooted rhythms, bridging the breadth with her delicately woven vocal harmonies.</p>
    <p>May 2006, Sweet Water Revolver began their first North American tour. A hardcore trek lasting four years and snaking back and forth across the vastness of North America driven by their desire to live out their dreams reaching millions of people.</p>
    <p>In August 2010 the Cheromaya’s finally took a break from the road to settle on an enchanting island rain forest that they first discovered in on their honeymoon adventure in the Gulf Islands of British Columbia in 2008.</p>
    <p>Sweet Water Revolver recently released their first professionally mastered, fully produced studio album EMERGENCE, featuring Ashton making it with her first love, the piano. Released June 1st 2013 on Salt Spring Island, BC.</p>

</div>