<section class="container">

    <div id="our-external-links">

        @*href="https://myspace.com/sweetwaterrevolver"

            href="https://www.facebook.com/pages/Sweet-Water-Revolver/390852040983091"

            href="http://www.reverbnation.com/sweetwaterrevolver"*@

        <a href="https://www.facebook.com/pages/Sweet-Water-Revolver/390852040983091"><i class="fa fa-facebook fa-5x"></i></a>
        <a href=""><i class="fa fa-flickr fa-5x"></i></a>
        <a href="https://plus.google.com/104298774585996996040/posts"><i class="fa fa-google-plus fa-5x"></i></a>
        <a href=""><i class="fa fa-pinterest fa-5x"></i></a>
        <a href=""><i class="fa fa-tumblr fa-5x"></i></a>
        <a href=""><i class="fa fa-twitter fa-5x"></i></a>
        <a href=""><i class="fa fa-vimeo fa-5x"></i></a>
        <a href=""><i class="fa fa-youtube fa-5x"></i></a>

    </div>

</section>