<section class="container">

    <div id="our-external-links">

        <a class="img-thumbnail img-circle" href="http://www.reverbnation.com/sweetwaterrevolver"><span>Reverb Nation</span></a>
        <a class="img-thumbnail img-circle" href="https://www.facebook.com/pages/Sweet-Water-Revolver/390852040983091"><i class="fa fa-facebook fa-5x"></i></a>
        <a class="img-thumbnail img-circle" href="https://plus.google.com/104298774585996996040/posts"><i class="fa fa-google-plus fa-5x"></i></a>
        <a class="img-thumbnail img-circle" href="http://www.youtube.com/watch?v=g31RxCVmzzg"><i class="fa fa-youtube fa-5x"></i></a>
        <a class="img-thumbnail img-circle" href="https://myspace.com/sweetwaterrevolver"><span>My Space</span></a>

        @*

            <a href=""><i class="fa fa-flickr fa-5x"></i></a>
            <a href=""><i class="fa fa-pinterest fa-5x"></i></a>
            <a href=""><i class="fa fa-tumblr fa-5x"></i></a>
            <a href=""><i class="fa fa-twitter fa-5x"></i></a>
            <a href=""><i class="fa fa-vimeo fa-5x"></i></a>

        *@

    </div>

</section>