<section class="container">

    <div id="our-jumbotron" class="jumbotron">

        <h1>Welcome!</h1>
        <p>We are Sweet Water Revolver. This is our website. Please look around.</p>        
    </div>

</section>
